[package]
name = "egui_winit_vulkano"
version = "0.12.0"
authors = ["hakolao <okkohakola@gmail.com>"]
edition = "2018"
description = "Egui immediate mode gui integration with winit and Vulkano"
license = "MIT"
readme = "README.md"
repository = "https://github.com/hakolao/egui_winit_vulkano"

[dependencies]
copypasta = "0.7.1"
egui = "0.15.0"
image = "0.23.14"
vulkano = "0.27.1"
vulkano-win = "0.27.1"
vulkano-shaders = "0.27.1"
webbrowser = "0.5.5"
winit = "0.25.0"

[dev-dependencies]
cgmath = "0.18.0"
egui_demo_lib = "0.15.0"
