[package]
name = "egui_winit_vulkano"
version = "0.17.0"
authors = ["hakolao <okkohakola@gmail.com>"]
edition = "2018"
description = "Egui immediate mode gui integration with winit and Vulkano"
homepage = "https://github.com/hakolao/egui_winit_vulkano"
license = "Apache-2.0"
readme = "README.md"
repository = "https://github.com/hakolao/egui_winit_vulkano"
categories = ["gui", "game-development"]
keywords = ["gui", "imgui", "immediate", "portable", "gamedev"]

[dependencies]
ahash = "0.7.6"
bytemuck = "1.8.0"
copypasta = "0.7.1"
egui = "0.17.0"
egui-winit = "0.17.0"
image = "0.23.14"
vulkano = "0.29.0"
vulkano-shaders = "0.29.0"
webbrowser = "0.5.5"
winit = "0.26"

[dev-dependencies]
cgmath = "0.18.0"
egui_demo_lib = "0.17.0"
vulkano-win = "0.29.0"
