[package]
name = "egui_winit_vulkano"
version = "0.21.0"
authors = ["hakolao <okkohakola@gmail.com>"]
edition = "2018"
description = "Egui immediate mode gui integration with winit and Vulkano"
homepage = "https://github.com/hakolao/egui_winit_vulkano"
license = "Apache-2.0"
readme = "README.md"
repository = "https://github.com/hakolao/egui_winit_vulkano"
categories = ["gui", "game-development"]
keywords = ["gui", "imgui", "immediate", "portable", "gamedev"]

[features]
default = ["clipboard", "links"]
links = ["egui-winit/links"]
clipboard = ["egui-winit/clipboard"]

[dependencies]
ahash = "0.8.1"
bytemuck = "1.12.2"
egui = "0.19.0"
egui-winit = "0.19.0"
image = "0.24.4"
winit = "0.27.5"
vulkano = { version = "0.32", git = "https://github.com/hakolao/vulkano", branch = "remove-old-windows-drag-drop-fix" }
vulkano-shaders = { version = "0.32", git = "https://github.com/hakolao/vulkano", branch = "remove-old-windows-drag-drop-fix" }

[dev-dependencies]
cgmath = "0.18.0"
egui_demo_lib = "0.19.0"
vulkano-util = { version = "0.32", git = "https://github.com/hakolao/vulkano", branch = "remove-old-windows-drag-drop-fix" }
