[package]
name = "egui_winit_vulkano"
version = "0.22.0"
authors = ["hakolao <okkohakola@gmail.com>"]
edition = "2018"
description = "Egui immediate mode gui integration with winit and Vulkano"
homepage = "https://github.com/hakolao/egui_winit_vulkano"
license = "Apache-2.0"
readme = "README.md"
repository = "https://github.com/hakolao/egui_winit_vulkano"
categories = ["gui", "game-development"]
keywords = ["gui", "imgui", "immediate", "portable", "gamedev"]

[features]
default = ["clipboard", "links"]
links = ["egui-winit/links"]
clipboard = ["egui-winit/clipboard"]

[dependencies]
ahash = "0.8.1"
bytemuck = "1.12.2"
egui = "0.20.1"
egui-winit = "0.20.1"
image = "0.24.4"
winit = "0.27.5"
vulkano = "0.32"
vulkano-shaders = "0.32"

[dev-dependencies]
cgmath = "0.18.0"
egui_demo_lib = "0.20.0"
vulkano-util = "0.32"
